<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Iulia</title>
  </head>
  <body>
    <div>{% extends "learning_logs/base.html" %}</div>

    {% block content %}
    <div>
      <h2>Isso é uma pagina HTML com back-end gerado totalmente em python</h2>
      <p>
        Prazer, meu nome é iulia e estou estudando desenvolvimento web em python
      </p>
    </div>
    {% endblock content%}
  </body>
</html>
